<h3>Add or update a beverage</h3>
<form #formDir="ngForm" (ngSubmit)="onSubmit()" [formGroup]="beverageForm"
      class="example-form">
  <mat-form-field>
    <input matInput type="text" placeholder="New beverage" formControlName="name"
           autocomplete="off">
    <mat-error *ngIf="beverageForm.get('name').hasError('required')">
      Beverage name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Quantity" formControlName="value"
           autocomplete="off">
    <mat-error *ngIf="beverageForm.get('value').hasError('required')">
      Quantity is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="beverageForm.get('value').hasError('min')">
      Quantity must be greater than 0
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary"
          [disabled]="beverageForm.invalid"
          class="app-form-btn"
          type="submit">Add</button>
</form>
