<h3>Add a beverage</h3>
<form [formGroup]="beverageForm" class="example-form">
  <md-form-field>
    <input mdInput type="text" placeholder="New beverage" formControlName="name">
    <md-error *ngIf="beverageForm.get('name').hasError('required')">
      Beverage name is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field>
    <input mdInput type="number" placeholder="Quantity" formControlName="value">
    <md-error *ngIf="beverageForm.get('value').hasError('required')">
      Quantity is <strong>required</strong>
    </md-error>
  </md-form-field>
  <button md-raised-button color="primary"
          class="app-form-btn"
          (click)="addBeverage()">Add</button>
</form>
