<h3>Inventory</h3>
<div class="inventory">
  <table class="inventory-table">
    <thead>
      <tr class="table-row">
        <th class="table-header-cell">Beverage</th>
        <th class="table-header-cell">Quantity</th>
        <th class="table-header-cell"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let beverage of (beverages | async)">
        <td class="table-cell">{{beverage.name}}</td>
        <td class="table-cell">{{beverage.value}}</td>
        <td class="table-cell">
          <button md-button (click)="increase(beverage)">
            <md-icon>add</md-icon>
          </button>
          <button md-button (click)="decrease(beverage)">
            <md-icon>remove</md-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="message-text" *ngIf="!(beverages | async)?.length">
    No beverages found in the warehouse.
  </div>
</div>
