.example-form {
  min-width: 150px;
  max-width: 510px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.inventory {
  width: 100%;
  max-width: 1200px;
}

.inventory .mat-mini-fab {
  width: 30px;
  height: 30px;
}

.inventory .material-icons {
  font-size: 18px;
}

.app-form-btn {
  margin-left: 10px;
}
